//main colors
$white: #FFFFFF;
$green: #24A23F;
$green-hover: #91D09F;

//text
$text-gray: #5B6C7D;
$text-light-gray: #7F8E9C;
$text-turquoise: #007D91;
$text-black: #252525;

//background
$white-background: #F8FAFA;
$blue-light-background: #DDFCFE;
$gray-light-background: #F2F5FA;

//border
$border-light-gray: #E5EEF8;
