@font-face {
  font-family: 'SB Sans Text';
  src: url("./fonts/SBSansText-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url("./fonts/SBSansText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
